*nohup.out
*output*.txt
*output.txt
subsys4_counts
subsys3_counts
subsys2_counts
subsys1_counts
aitchison_input_data.txt
non_matched_refseqs.txt
annotated_counts_with_read_length.txt
annotated_counts_with_full_refseq_ids.txt
annotated_counts_with_refseq_length.txt

